h2
    {color: green}
h1
    {color: blue}
body {
  background-color: lightcyan;
}
p.light {
  font-weight: lighter;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
  background-color: pink;
}
