h2
{color: green;
border: 15px dotted blue;}

h1
{color: blue; 
border: 10px solid black;
body: {background-color: lightcyan;}

p.light {font-weight: lighter;}

p.thick {font-weight: bold;}

p.thicker {
  font-weight: 900;
  background-color: pink;
}

  background: yellow
